@import 'variables';
// *** HEADER + NAV *** //
.site-header {
    color: $dark-gray;
    padding: $space-2;
    text-align: center;
    a:hover {
        color: $theme-color;
    }
    p {
        color: $mid-gray;
        display: inline;
        font-family: $base-font-family;
        font-size: $h3;
        line-height: $space-2;
        margin-bottom: 0;
    }
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
    opacity: 0.88;
}

.site-title p {
    font-size: $h3;
    line-height: $line-height *2;
    &, &:visited {
        color: $dark-gray;
    }
}

.site-nav {
    //line-height: $nav-height;
    text-align: center;
    a + a {
        margin-left: $space-1;
    }
}

.page-link {
    color: $text-color;
    line-height: $base-line-height;
}

.header-bar {
    border-top: thin solid rgba(0, 0, 0, 0.1);
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: $h3;
    line-height: $line-height *2;
    opacity: 0.75;
    padding: $horizontal-spacing-unit 0;
    text-align: center;
    z-index: 25;
    h1 {
        color: $theme-color;
        font-size: $special-font-size;
        margin: 0px;
    }
    p {
        font-size: $base-font-size+2;
        font-weight: 400;
        margin-top: $space-1;
        line-height: $base-line-height;
    }
}

//.nav-wrap {
//margin-top: $space-2;
//}
@media screen and (max-width: 800px) {
    .site-header .wrapper {
        max-width: calc(800px - (30px));
        padding-left: 15px;
    }
}

@media screen and (max-width: 600px) {
    border-radius: 5px;
    position: absolute;
    text-align: right;
}

// *** FOOTER *** //
.site-footer {
    background-color: $lighter-gray;
    border-top: thin solid $darken-1;
    color: $mid-gray;
    font-size: $h6;
    font-weight: 300;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: $h3;
    margin-bottom: $spacing-unit / 2;
}

// *** PAGINATION *** //
.pagination {
    max-width: -webkit-calc(800px - (# {
        $horizontal-spacing-unit
    }
    * 2));
    bottom: $horizontal-spacing-unit;
    position: fixed;
    text-align: center;
    width: 100%;
}

.paginationicon {
    font-size: $h2 *2;
    a {
        color: $theme-color;
    }
}

// *** PAGE CONTENT *** //
.page-content {
    padding: $space-3 0;
    /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}

@media screen and (min-width: $large) {
    .page-content {
        margin: 0 auto;
        width: 80%;
    }
}

.page-heading {
    font-size: $h2;
}

// *** POSTS *** //
.posts {
    margin: 0;
}

.posts .post {
    border-bottom: thin solid $lighter-gray;
    margin-bottom: $space-1;
}

.posts .post:last-child {
    border-bottom: none;
    margin-bottom: $space-2 /3;
    padding-bottom: 0;
}

.post-link .post-title {
    font-size: $h2;
    color: $dark-gray;
    font-weight: 600;
    margin-top: 0;
}

.meta,
.post-meta {
    color: $mid-gray;
    font-size: $h3;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: $space-1/2 0;
    width: auto;
}

.related-post-title {
    border-bottom: thin solid $lighter-gray;
}

.post-list {
    list-style: none;
    > li {
        margin-bottom: $vertical-spacing-unit;
    }
    margin: 0px 0;
}

.contacticon {
    display: block;
    font-size: $h1;
    margin: $space-1;
}

.center {
    text-align: center;
}

// *** POST FOOTER *** //
.post-footer {
    @extend .italic;
    margin-top: $space-1;
    text-align: center;
}

.post-footer .avatar {
    border-radius: 50%;
    margin: $space-3 0;
    width: $horizontal-spacing-unit*2;
}

// *** About *** //
.profile {
    margin: 0 5% 5% 0;
    width: 85%;
}

@media screen and (min-width: $medium) {
    .profile {
        float: right;
        margin: 0 0 0 2%;
        width: 60%;
    }
}

@media screen and (min-width: $large) {
    .profile {
        width: 40%;
    }
}




// *** CONTACT *** //

@media screen and (min-width: $medium) {
    .contact {
        width: 50%;
    }
}


// *** THANKS *** //
.special {
    line-height: $line-height;
    text-align: center;
    h4 {
        font-family: $special-font-family;
        font-size: $special-font-size;
    }
    p {
        font-size: $h3;
    }
}

// *** 404 *** //
.error {
    border-color: #000;
    border-width: $border-width*3;
    border-style: solid;
}
