@import 'variables';

// *** PORTFOLIO GRID *** //
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.project {
    border-radius: 50%;
    box-sizing: border-box;
     //float: left;
    height: 100%;
    padding: 10px;
    //vertical-align: middle;
}

.thumbnail {
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.thumbnail img {
    height: auto;
    position: relative;
    width: 550px;
}

.thumbnail a {
    float: left;
    height: 200px;
    position: relative;
    width: 100%;   
}

.thumbnail a span {
    background: rgba(255, 255, 255, 0.4);
    color: lighten($grey-color-dark, 3);
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 40px;
    position: absolute;
    text-align: center;
}

.thumbnail a:hover span {
    display: block;
}

// *** PORTFOLIO PAGES *** //
.blankbox {
    background: $theme-color;
}

.img_row {
    box-sizing: border-box;
    height: $img_height;
    overflow: hidden;
    padding: $img_spacing;
    width: 100%;
}

.col {
    box-sizing: border-box;
    //float: left;
    height: 100%;
    object-fit: cover;
    padding: $img_spacing;
    width: 100%;
}

.right {
    float: right;
}

.one {
    width: 100%;
}

.two {
    width: 66.66%;
}

.three {
    width: 100%;
}

.caption {
    color: $caption_color;
    font-size: $caption_font_size;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    
}