// *** PORTFOLIO GRID *** //
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.project {
    width: 100%;
    box-sizing: border-box;
    margin: 5% 0;
}

@media screen and (min-width: $medium) {
    .project {
        float: left;
        height: 250px;
        margin: 0;
        padding: 10px;
        width: 33.33%;
    }
}

.thumbnail {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.thumbnail img {
    width: 50%;
    height: auto;
    position: relative;
    left: -25%;
    top: -5%;
}

.thumbnail a {
    float: left;
    position: relative;
    width: 100%;
    height: 230px;
}

.thumbnail a span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: $light-gray;
    padding: 40px;
    text-align: center;
}

.thumbnail a:hover span {
    display: block;
}

// *** PORTFOLIO PAGES *** //
.blankbox {
    background: $theme-color;
}

.img_row {
    height: $img_height;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: $img_spacing;
}

.col {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing: border-box;
    padding: $space-3;
}

.right {
    float: right;
}

.one {
    width: 33.33%;
}

.two {
    width: 66.66%;
}