---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h2>{{ page.title }}</h2>
  <span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} minute read
  {% else %}
    {{ minutes }} minute read
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article>

{% include post-footer.html %}